<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>

<body ng-app='app'>
    <div ng-controller='PostsCtrl' class='container'>
        <h1>Recent Posts</h1>
        <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
        <div style="padding-bottom: 10px;"></div>
        <input ng-model='postBody' class='form-control' />
        <div style="padding-bottom: 10px;"></div>
        <ul class='list-group'>
            <li ng-repeat='post in posts' class='list-group-item'>
                <strong>@{{ post.username }}</strong>
                <span>{{ post.body }}</span>
            </li>
        </ul>
    </div>
    <script src='angular.js'></script>
    <script>
        var app = angular.module('app', [])
        app.controller('PostsCtrl', function ($scope) {
            $scope.posts = [
                {
                    username: 'dickeyxxx',
                    body: 'Node rules!'
                    },
                {
                    username: 'jeffdickey',
                    body: 'trying out angular.js...'
                    }
                ]

            $scope.addPost = function () {
                if ($scope.postBody) {
                    $scope.posts.unshift({
                        username: 'dickeyxxx',
                        body: $scope.postBody
                    })
                    $scope.postBody = null
                }
            }
        })
    </script>
</body>

</html>